In [1]:
import pandas as pd

## DATAFRAME CREATION

### Using Dictionaries

In [2]:
dict_1={'Name':['Reshma A C','Aiswarya George','Aswathy M V', 'Donia C David', 'Reshma Raghunath','Sreelakshmi K S', 'Veena Vinayan','Parvathi R Sajeev','Reshmi R Nair','Rinto Raj', 'Adarsh Balan','Shaijal Muhammed','Sirajudheen T M','Vaisakh V V','Viswanth V','Reneesh V U','Suraj S B','Muhammed Farzeen','Anantha Krishnan','Biben Johnson','Arun','Christy James','Joyal Joseph','Saneesh Mathew','Geo Babu','Rigil','Anoop','Aswin'], 
       'Age':[25,23,23,22,22,28,26,24,31,25,27,21,26,23,26,27,32,22,24,25,25,21,25,32,256,22,33,26],
       'Gender':['Female','Female','Female','Female','Female','Female','Female','Female','Female','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male'],
       'Qualification':['MSc','MSc','BTech','BTech','BCA','MCA','BSc','BTech','MBA','BTech','BTech','BCA','BCom','BBA','BTech','BSc','BCom','BCA','BTech','BTech','MBA','BE','BSc','BE','MSc','BE','BSc','BCA'],
       'Place':['Thrissur', 'Ernakulam','Kannur','Idukki','Pathanamthitta','Pathanamthitta','Kozhikode','Kollam','Pathanamthitta','Palakkad','Alappuzha','Malappuram','Malappuram','Malappuram','Pathanamthitta','Thrissur','Kollam','Malappuram','Kollam','Kollam','Alappuzha','Wayanad','Kottayam','Kasargod','Ernakulam','Malappuram','Idukki','Kannur']}

In [3]:
df=pd.DataFrame(dict_1)
df

                 Name  Age  Gender Qualification           Place
0          Reshma A C   25  Female           MSc        Thrissur
1     Aiswarya George   23  Female           MSc       Ernakulam
2         Aswathy M V   23  Female         BTech          Kannur
3       Donia C David   22  Female         BTech          Idukki
4    Reshma Raghunath   22  Female           BCA  Pathanamthitta
5     Sreelakshmi K S   28  Female           MCA  Pathanamthitta
6       Veena Vinayan   26  Female           BSc       Kozhikode
7   Parvathi R Sajeev   24  Female         BTech          Kollam
8       Reshmi R Nair   31  Female           MBA  Pathanamthitta
9           Rinto Raj   25    Male         BTech        Palakkad
10       Adarsh Balan   27    Male         BTech       Alappuzha
11   Shaijal Muhammed   21    Male           BCA      Malappuram
12    Sirajudheen T M   26    Male          BCom      Malappuram
13        Vaisakh V V   23    Male           BBA      Malappuram
14         Viswanth V   26    Male         BTech  Pathanamthitta
15        Reneesh V U   27    Male           BSc        Thrissur
16          Suraj S B   32    Male          BCom          Kollam
17   Muhammed Farzeen   22    Male           BCA      Malappuram
18   Anantha Krishnan   24    Male         BTech          Kollam
19      Biben Johnson   25    Male         BTech          Kollam
20               Arun   25    Male           MBA       Alappuzha
21      Christy James   21    Male            BE         Wayanad
22       Joyal Joseph   25    Male           BSc        Kottayam
23     Saneesh Mathew   32    Male            BE        Kasargod
24           Geo Babu  256    Male           MSc       Ernakulam
25              Rigil   22    Male            BE      Malappuram
26              Anoop   33    Male           BSc          Idukki
27              Aswin   26    Male           BCA          Kannur

### Dataframe using lists

In [4]:
Name=['Reshma A C','Aiswarya George','Aswathy M V', 'Donia C David', 'Reshma Raghunath','Sreelakshmi K S', 'Veena Vinayan','Parvathi R Sajeev','Reshmi R Nair','Rinto Raj', 'Adarsh Balan','Shaijal Muhammed','Sirajudheen T M','Vaisakh V V','Viswanth V','Reneesh V U','Suraj S B','Muhammed Farzeen','Anantha Krishnan','Biben Johnson','Arun','Christy James','Joyal Joseph','Saneesh Mathew','Geo Babu','Rigil','Anoop','Aswin']
Age=[25,23,23,22,22,28,26,24,31,25,27,21,26,23,26,27,32,22,24,25,25,21,25,32,256,22,33,26]
Gender=['Female','Female','Female','Female','Female','Female','Female','Female','Female','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male','Male']
Qualification=['MSc','MSc','BTech','BTech','BCA','MCA','BSc','BTech','MBA','BTech','BTech','BCA','BCom','BBA','BTech','BSc','BCom','BCA','BTech','BTech','MBA','BE','BSc','BE','MSc','BE','BSc','BCA']
Place=['Thrissur', 'Ernakulam','Kannur','Idukki','Pathanamthitta','Pathanamthitta','Kozhikode','Kollam','Pathanamthitta','Palakkad','Alappuzha','Malappuram','Malappuram','Malappuram','Pathanamthitta','Thrissur','Kollam','Malappuram','Kollam','Kollam','Alappuzha','Wayanad','Kottayam','Kasargod','Ernakulam','Malappuram','Idukki','Kannur']

In [5]:
df1=pd.DataFrame(list(zip(Name,Age,Gender,Qualification,Place)),columns=['NAME','AGE','GENDER','QUALIFICATION','PLACE'])
df1

                 NAME  AGE  GENDER QUALIFICATION           PLACE
0          Reshma A C   25  Female           MSc        Thrissur
1     Aiswarya George   23  Female           MSc       Ernakulam
2         Aswathy M V   23  Female         BTech          Kannur
3       Donia C David   22  Female         BTech          Idukki
4    Reshma Raghunath   22  Female           BCA  Pathanamthitta
5     Sreelakshmi K S   28  Female           MCA  Pathanamthitta
6       Veena Vinayan   26  Female           BSc       Kozhikode
7   Parvathi R Sajeev   24  Female         BTech          Kollam
8       Reshmi R Nair   31  Female           MBA  Pathanamthitta
9           Rinto Raj   25    Male         BTech        Palakkad
10       Adarsh Balan   27    Male         BTech       Alappuzha
11   Shaijal Muhammed   21    Male           BCA      Malappuram
12    Sirajudheen T M   26    Male          BCom      Malappuram
13        Vaisakh V V   23    Male           BBA      Malappuram
14         Viswanth V   26    Male         BTech  Pathanamthitta
15        Reneesh V U   27    Male           BSc        Thrissur
16          Suraj S B   32    Male          BCom          Kollam
17   Muhammed Farzeen   22    Male           BCA      Malappuram
18   Anantha Krishnan   24    Male         BTech          Kollam
19      Biben Johnson   25    Male         BTech          Kollam
20               Arun   25    Male           MBA       Alappuzha
21      Christy James   21    Male            BE         Wayanad
22       Joyal Joseph   25    Male           BSc        Kottayam
23     Saneesh Mathew   32    Male            BE        Kasargod
24           Geo Babu  256    Male           MSc       Ernakulam
25              Rigil   22    Male            BE      Malappuram
26              Anoop   33    Male           BSc          Idukki
27              Aswin   26    Male           BCA          Kannur

### Dataframe using list of dictionaries

In [6]:
list_1=[
    {'Name':'Reshma A C','Age':25,'Gender':'F','Qualification':'MSc','Place':'Thrissur'},
    {'Name':'Aiswarya George','Age':23,'Gender':'F','Qualification':'MSc','Place':'Ernakulam'},
    {'Name':'Aswathy M V','Age':23,'Gender':'F','Qualification':'BTech','Place':'Kannur'},
    {'Name':'Donia C David','Age':22,'Gender':'F','Qualification':'BTech','Place':'Idukki'},
    {'Name':'Reshma Raghunath','Age':22,'Gender':'F','Qualification':'BCA','Place':'Pathanamthitta'},
    {'Name':'Sreelakshmi K S','Age':28,'Gender':'F','Qualification':'MCA','Place':'Pathanamthitta'},
    {'Name':'Veena Vinayan','Age':26,'Gender':'F','Qualification':'BSc','Place':'Kozhikode'},
    {'Name':'Parvathi R Sajeev','Age':24,'Gender':'F','Qualification':'BTech','Place':'Kollam'},
    {'Name':'Reshmi R Nair','Age':31,'Gender':'F','Qualification':'MBA','Place':'Pathanamthitta'},
    {'Name':'Rinto Raj','Age':25,'Gender':'M','Qualification':'BTech','Place':'Palakkad'},
    {'Name':'Adarsh Balan','Age':27,'Gender':'M','Qualification':'BTech','Place':'Alappuzha'},
    {'Name':'Shaijal Muhammed','Age':21,'Gender':'M','Qualification':'BCA','Place':'Malappuram'},
    {'Name':'Sirajudheen T M','Age':26,'Gender':'M','Qualification':'Bom','Place':'Malappuram'},
    {'Name':'Vaisakh V V','Age':23,'Gender':'M','Qualification':'BBA','Place':'Malappuram'},
    {'Name':'Viswanth V','Age':26,'Gender':'M','Qualification':'BTech','Place':'Pathanamthitta'},
    {'Name':'Reneesh V U','Age':27,'Gender':'M','Qualification':'BSc','Place':'Thrissur'},
    {'Name':'Suraj S B','Age':32,'Gender':'M','Qualification':'BTech','Place':'Kollam'},
    {'Name':'Muhammed Farzeen','Age':22,'Gender':'M','Qualification':'BCA','Place':'Malappuram'},
    {'Name':'Anantha Krishnan','Age':24,'Gender':'M','Qualification':'BTech','Place':'Kollam'},
    {'Name':'Biben Johnson','Age':25,'Gender':'M','Qualification':'BTech','Place':'Kollam'},
    {'Name':'Arun','Age':25,'Gender':'M','Qualification':'MBA','Place':'Alappuzha'},
    {'Name':'Christy James','Age':21,'Gender':'M','Qualification':'BE','Place':'Wayanad'},
    {'Name':'Joyal Joseph','Age':25,'Gender':'M','Qualification':'BSc','Place':'Kottayam'},
    {'Name':'Saneesh Mathew','Age':32,'Gender':'M','Qualification':'BE','Place':'Kasargod'},
    {'Name':'Geo Babu','Age':25,'Gender':'M','Qualification':'MSc','Place':'Ernakulam'},
    {'Name':'Rigil','Age':22,'Gender':'M','Qualification':'BE','Place':'Malappuram'},
    {'Name':'Anoop','Age':33,'Gender':'M','Qualification':'BSc','Place':'Idukki'},
    {'Name':'Aswin','Age':26,'Gender':'M','Qualification':'BCA','Place':'Kannur'}
]

In [7]:
df2=pd.DataFrame(list_1)
df2

                 Name  Age Gender Qualification           Place
0          Reshma A C   25      F           MSc        Thrissur
1     Aiswarya George   23      F           MSc       Ernakulam
2         Aswathy M V   23      F         BTech          Kannur
3       Donia C David   22      F         BTech          Idukki
4    Reshma Raghunath   22      F           BCA  Pathanamthitta
5     Sreelakshmi K S   28      F           MCA  Pathanamthitta
6       Veena Vinayan   26      F           BSc       Kozhikode
7   Parvathi R Sajeev   24      F         BTech          Kollam
8       Reshmi R Nair   31      F           MBA  Pathanamthitta
9           Rinto Raj   25      M         BTech        Palakkad
10       Adarsh Balan   27      M         BTech       Alappuzha
11   Shaijal Muhammed   21      M           BCA      Malappuram
12    Sirajudheen T M   26      M           Bom      Malappuram
13        Vaisakh V V   23      M           BBA      Malappuram
14         Viswanth V   26      M         BTech  Pathanamthitta
15        Reneesh V U   27      M           BSc        Thrissur
16          Suraj S B   32      M         BTech          Kollam
17   Muhammed Farzeen   22      M           BCA      Malappuram
18   Anantha Krishnan   24      M         BTech          Kollam
19      Biben Johnson   25      M         BTech          Kollam
20               Arun   25      M           MBA       Alappuzha
21      Christy James   21      M            BE         Wayanad
22       Joyal Joseph   25      M           BSc        Kottayam
23     Saneesh Mathew   32      M            BE        Kasargod
24           Geo Babu   25      M           MSc       Ernakulam
25              Rigil   22      M            BE      Malappuram
26              Anoop   33      M           BSc          Idukki
27              Aswin   26      M           BCA          Kannur